.ask {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  color: #ddd6cb;
  background: linear-gradient(90deg, #103c61, #0eab79);
}
.headerText {
  padding: 0.5rem 1rem 0 1rem;
  border-bottom:1px solid #ddd6cb;
}

.headerText h2 {
  margin: 24px;
  font-size: 1.5rem;
  font-family: 'Exo', sans-serif;
}

.headerText p {
  font-size: 0.75rem;
  color: #0eab79;
  font-style: italic;
}

.ask h1,
.ask p {
  margin: 0;
  
}

.content {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
  font-size: 24px;
  padding: .3rem;
  margin: 0.5rem
}



.actions {
  padding: 1rem;
  text-align: right;
}

.actions button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: rgb(14, 171, 121);
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.actions button:hover,
.actions button:active {
  background: linear-gradient(90deg, #2b5da2, #6b9588);
  text-shadow: 0 0 18px rgba(38, 153, 117, 0.8)
}