.link{
    text-decoration: none;
    color: #ddd6cb;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
.link:hover,
.link:active{
    background: linear-gradient(90deg, #0eab79,#b1c1d1 );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.active{
    background-color: #0eab79;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}